<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" (click)="showSettings = false">SSH-Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="showSettings = false">
          Home
        </a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{selectedCategory === 'ALL' ? 'Show all Categories' : 'Show Category ' + selectedCategory }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="selectCategory('ALL')">Show all Categories</a>
          <a class="dropdown-item" (click)="selectCategory(item.title)" *ngFor="let item of items">
            Show Category {{ item.title }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSettings = true">
          Settings
        </a>
      </li>
    </ul>

    <div class="form-group">
      <select class="custom-select" name="console" [(ngModel)]="selectedConsole" (change)="selectConsole($event.target.value)">
        <option *ngFor="let item of consoles" [value]="item">{{ item }}</option>
      </select>
    </div>

    <a class="btn btn-primary btn-md" (click)="addCategory()">Add Category</a>
  </div>
</nav>


<div class="row" *ngIf="!showSettings">
  <div class="container" *ngFor="let item of items; let i = index">
    <div class="row" *ngIf="checkVisibility(item)">
      <div class="col-12">
        <h3 class="title">
          {{ item.title }}

          <div class="buttons">
            <a class="btn btn-primary btn-sm" (click)="addItem(i)">Add item</a>
            <a class="btn btn-success btn-sm" (click)="openCategory(item)">Open category</a>
            <a class="btn btn-danger btn-sm" (click)="deleteCategory(i)">Delete</a>
          </div>
        </h3>
      </div>

      <div class="col-4 server" *ngFor="let subItem of item.items; let y = index">
        <div class="card border-secondary mb-3" [ngClass]="{'has-failed': paths.ping && !subItem.online_status}">
          <div class="card-body">
            <button type="button" class="close" aria-label="Close" (click)="deleteItem(i, y)">
              <span aria-hidden="true">×</span>
            </button>

            <p class="card-text">
              <span class="title">Name:</span>
              <span class="description">{{ subItem.title }}</span>
            </p>
            <p class="card-text">
              <span class="title">Hostname:</span>
              <span class="description">{{ subItem.hostname }}</span>
            </p>
            <p class="card-text">
              <span class="title">Username:</span>
              <span class="description">{{ subItem.username }}</span>
            </p>
            <p class="card-text" *ngIf="paths.ping">
              <span class="title">Status:</span>
              <span class="description" [ngClass]="{'online': subItem.online_status, 'offline': !subItem.online_status}">
                {{ subItem.online_status ? 'ONLINE' : 'OFFLINE' }}
              </span>
            </p>

            <div class="row">
              <div class="col-4" *ngIf="paths.winscp.enabled">
                <a class="btn btn-sm btn-block btn-warning" (click)="openWinSCP(subItem)">
                  WinSCP
                </a>
              </div>
              <div [ngClass]="{ 'col-8': paths.winscp.enabled, 'col-12': !paths.winscp.enabled }">
                <a class="btn btn-sm btn-block" [ngClass]="{'btn-primary': !checkSelected(subItem), 'btn-success': checkSelected(subItem), 'btn-danger': !subItem.online_status }" (click)="openTerminal($event, subItem)">
                  {{ checkSelected(subItem) ? 'SELECTED' : 'OPEN' }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="showSettings">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title">Settings</h3>
      </div>

      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header">
            General settings

            <div class="buttons">
              <a class="btn btn-sm btn-success" (click)="saveSettings()">Save</a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group form-settings mt-3">

              <div class="form-group mb-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="enablePing" id="enablePing" [(ngModel)]="paths.ping">
                  <label class="custom-control-label" for="enablePing">Enable ping</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header">
            WinSCP settings

            <div class="buttons">
              <a class="btn btn-sm btn-success" (click)="saveSettings()">Save</a>
            </div>
          </div>

          <div class="card-body">
            <div class="form-group form-settings mt-3">

              <div class="form-group mb-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="enableWinscp" id="enableWinscp" [(ngModel)]="paths.winscp.enabled">
                  <label class="custom-control-label" for="enableWinscp">Enable winscp</label>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="winscpPath" (change)="pickFile('winscp', $event.target.files)">
                  <label class="custom-file-label" for="winscpPath">
                    {{ paths.winscp.path === '' ? 'Choose file' : paths.winscp.path }}
                  </label>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="keypath" (change)="pickFile('keypath', $event.target.files)">
                  <label class="custom-file-label" for="keypath">
                    {{ paths.winscp.keypath === '' ? 'Choose file' : paths.winscp.keypath }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
